.VPHome {
	margin-bottom: 64px !important;
}
.VPDoc.has-aside .content-container {
	max-width: unset !important;
}
.language-ts, .language-swift {
	display: inline-flex;
}
@media (max-width: 768px) {
	.language-ts, .language-swift {
		margin-left: -24px !important;
		margin-right: -24px !important;
		width: calc(100% + 24px + 24px);
		padding-top: 1.5rem;
	}
	.language-ts .lang, .language-swift .lang {
		font-size: 1rem !important;
		font-weight: bold !important;
		padding-top: 0.5em;
		left: 1.5rem !important;
	}
	.language-ts .lang {
		text-transform: uppercase;
	}
	.language-swift .lang {
		text-transform: capitalize;
	}
}
@media (min-width: 640px) {
	.language-ts, .language-swift {
		margin-left: 0px !important;
		margin-right: 0px !important;
		width: calc(100%);
	}
}
@media (min-width: 769px) {
	.language-ts {
		margin-left: 0px !important;
		margin-right: 16px !important;
		width: calc(50% - 8px);
	}
	.language-swift {
		margin-right: 0px !important;
		margin-left: 0px !important;
		width: calc(50% - 8px);
	}
}
.text-right {
	text-align: right;
}
sub.text-right {
	display: block;
}
