.VPHome {
	margin-bottom: 64px !important;
}
.VPDoc.has-aside .content-container {
	max-width: unset !important;
}
.language-ts, .language-swift {
	display: inline-flex;
	width: calc(50% - 8px);
}
.language-ts {
	margin-right: 8px !important;
}
.text-right {
	text-align: right;
}
sub.text-right {
	display: block;
}
